$lightblue: #515A5F;
$darkblue: #1d1d33;
$linkedinblue: #0177B5;
$white: #ffffff;
$grey: #848484;
$lightgrey: #dedede;
$yellow: #ffd400;
$red: #ff0000;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

